body {
    margin: 0;
    background: #1e1e1e;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    width: 360px;
    margin: auto;
}

.content-section_theme_dark {
    background-color: #131313;
    color: #FFFFFF;
}

.content-section_theme_bright {
    background-color: #FEE42A;
    color: #131313;
}

.header {
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: block;
    width: 78px;
}

.header__logo-image {
    width: 100%;
}

.header__menu-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px 0px;
    list-style: none;
}

.header__menu-link {
    color: #F5F5F5;
    font-size: 16px;
    line-height: 19.2px;
}

.header__menu-item_active .header__menu-link {
    text-decoration: none;
}  

.cover {
    min-height: 221px;
    padding: 7px 24px 35px 20px;
    background-image: url(../images/cover.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 95% auto;
}

.cover__title {
    font-family: 'EB Garamond', serif;
    font-size: 72px;
    font-weight: 400;
    color: #FFFFFF;
    width: 100%;
}

.accent-span {
    display: block;
}

.text-center{
    text-align: center;
}

.text-right {
    text-align: right;
}

.intro {
    padding: 30px 20px 38px;
}

.intro__heading {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    font-size: 16px;
    color: #CCCCCC;
}

.intro__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.intro__date {
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.2;
}

.intro__main-text {
    font-size: 16px;
    line-height: 21.6px;
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}

.reasons {
    padding: 40px 20px;
}

.content-section__subtitle {
    font-family: 'EB Garamond', serif;
    font-size: 28px;
    line-height: 1.15;
    font-weight: 500;
}

.content-section__introduction {
    margin: 32px 0;
    font-size: 20px;
    line-height: 27px;
    font-family: 'Inter',sans-serif;
}

.content-section__list {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 18px;
    gap: 16px;
    font-size: 16px;
    line-height: 21.6px;
}

.content-section__list-accent {
    font-weight: 700;
}

.how-to {
    padding: 40px 20px 60px;
}

.card_theme_dark {
    color: #F5F5F5;
    background-color: #343434;
}

.card_theme_bright {
    color: #131313;
    background-color: #FEE42A;
}

.cards-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.article {
    display: block;
}

.card {
    border-radius: 30px;
    padding: 20px;
}

.card__author-photo {
    max-width: 100px;
    max-height: 100px;
}

.card__author-name {
    font-weight: 700;
    margin: 8px 0 8px;
}

.card__title {
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.35;
    margin-bottom: 8px;
}

h4 {
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.35;
    margin-bottom: 8px;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #FEE42A;
}

.footer__links {
    list-style: none;
    display: flex;
    gap: 16px;
}

.footer__links a {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 14px;
    line-height: 1.25 ;
}

span {
    overflow-wrap: break-word;
    white-space: normal;
}

h1 {
    font-family: 'EB Garamond';
    font-size: 72px;
    font-weight: 500;
    color: white;
}